* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
  background: linear-gradient(to right, #f4f4fc, #eef1f9);
}
/* navigation section */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.logo {
  font-size: 24px;
  font-weight: 800;
  color: #1a1a1a;
}

.logo span {
  color: orange;
  font-weight: 800;
}
.nav-button {
  background: linear-gradient(to right, #ffce55, #fcb045);
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-button:hover {
  opacity: 0.9;
}
.banner-one {
  text-align: center;
  background-color: #f7faff;
  padding: 40px 20px;
  border: 1.5px #a3bff0;
  border-radius: 12px;
  max-width: 85%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-size: fixed;
}

.banner-one-img {
  max-width: 250px;
  margin-bottom: 20px;
}

.banner-one-h1 {
  font-size: 55px;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 20px;
}

.banner-one-p {
  font-size: 24px;
  color: #5f6f81;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}

.banner-one-button {
  background: linear-gradient(to right, #ffce55, #fcb045);
  color: #333;
  border: none;
  padding: 20px 35px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-one-button:hover {
  opacity: 0.95;
  transform: translateY(-2px);
}
