* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
   background: linear-gradient(to top, #B8E7FA, #E6E6FA);
}

/* navigation section */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.logo {
  font-size: 24px;
  font-weight: 800;
  color: #1a1a1a;
}

.logo span {
  color: orange;
  font-weight: 800;
}
.nav-button {
  background: linear-gradient(to right, #ffce55, #fcb045);
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-button:hover {
  opacity: 0.9;
}
.banner-one {
  text-align: center;
  background-color: #f7faff;
  padding: 40px 20px;
  border: 1.5px #a3bff0;
  border-radius: 12px;
  max-width: 85%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-size: fixed;
}

.banner-one-img {
  max-width: 250px;
  margin-bottom: 20px;
}

.banner-one-h1 {
  font-size: 55px;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 20px;
}

.banner-one-p {
  font-size: 16px;
  color: #5f6f81;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}

.banner-one-button {
  background: linear-gradient(to right, #ffce55, #fcb045);
  color: #333;
  border: none;
  padding: 20px 35px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-one-button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}
.banner-two-content {
  display: flex;
}
.why-web {
  padding: 60px 20px;
  text-align: center;
}

.why-title {
  font-size: 38px;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.why-subtitle {
  color: #5f6f81;
  font-size: 14px;
  margin: 0 auto 40px auto;
}

.banner-two {
  background-color: #f7faff;
  border-radius: 12px;
  padding: 40px 30px;
  max-width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}

.banner-two-left {
  max-width: 480px;
  text-align: left;
}

.banner-two-h2 {
  font-size: 20px;
  font-weight: 800;
  color: #2e2e2e;
  margin-bottom: 12px;
}

.banner-two-p {
  font-size: 14px;
  color: #5f6f81;
  margin-bottom: 24px;
}

.banner-two-button {
  background: linear-gradient(to right, #ffce55, #fcb045);
  color: #333;
  border: none;
  padding: 20px 35px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-two-button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.banner-two-right img {
  width: 100%;
  max-width: 500px;
}
.inspiration-section {
  padding: 60px 20px;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgb(99, 99, 99);
  padding: 30px;
}

.section-title {
  font-size: 38px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 10px;
}

.section-description {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 30px;
  margin-top: 10px;
}

.video-wrapper {
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
/* terget section */
.target-section {
  text-align: center;
  padding: 60px 20px;
}

.section-title-two {
  font-size: 38px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 10px;
}

.section-description-two {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-top: 20px;
}

.target-card {
  background: linear-gradient(to top, #b8e7fa, #e6e6fa);
  padding: 30px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
}

.target-card:hover {
  transform: translateY(-5px);
}

.target-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 25px;
}

.target-card h3 {
  font-size: 20px;
    font-weight: 800;
  margin-bottom: 25px;
  color: #1f2937;
}

.target-link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
  transition: color 0.3s;
}

.target-link:hover {
  color: #007bff;
}
.footer {
  background-color: #e3f5fd;
  padding: 14px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.footer-left {
  color: #000;
}

.footer-right {
  display: flex;
  gap: 30px;
}

.footer-right .icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s;
}

.footer-right .icon:hover {
  transform: scale(1.1);
}
